<h1>{{title}}</h1>
<ul>
  <li><a href="/celebrities/create">create a celebrity</a></li>
  <li><a href="/celebrities"> celebrities</a></li>
  <a href="/movies/create"> Create Movies</a>
</ul>
<p>Welcome to {{title}}</p>